<h1>Welcome To MyPlaylist</h1>
<ul id="playlists">
  <% @playlists.each do |playlist|%>
  <li >
    <h2><%=link_to("#{playlist.name}",{:action=>"show",:id=>"#{playlist.id}"},:class=>"playlist-title")%></h2>
    <div class="playlist-box">
    <!-- <h2><%= playlist.name%></h2> -->
    </div>
  </li>
  <% end %>
</ul>
